.bg-navi{
background-color:#234f49;
}
.order-booking-link{
color: white !important;
}
.logo-icons{
width:66px;
height:66px;
}
.user-font{
font-size:30px
}
.bg-btn{
background-color:#29b437db;
color:white;
}
.bg-btn:hover{
color:white;
}
.text-my-white{
color:#eaf3f4;
}
